<ion-header>
    <ion-navbar>
        <ion-title>Reportes</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let reporte of reportes; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(reporte)">
                <!-- todo: special handling for translating enum - {{'ValoracionEnum.' + reporte.valoracion}}" -->
                <p>{{reporte.valoracion}}</p>
                <p>{{reporte.nombre}}</p>
                <p>{{reporte.descripcion}}</p>
                <p>{{reporte.accinones_realizadas}}</p>
                <ion-avatar *ngIf="reporte.evidencia">
                    <img [src]="'data:' + reporte.evidenciaContentType + ';base64,' + reporte.evidencia" />
                    <p *ngIf="reporte.evidencia">{{reporte.evidenciaContentType}}, {{byteSize(reporte.evidencia)}}</p>
                </ion-avatar>
                <!-- todo: special handling for translating enum - {{'LugarEventoEnum.' + reporte.lugar_evento}}" -->
                <p>{{reporte.lugar_evento}}</p>
                <!-- todo: special handling for translating enum - {{'TipoEventoEnum.' + reporte.tipo_evento}}" -->
                <p>{{reporte.tipo_evento}}</p>
                <p>{{reporte.bLabores}}</p>
                <p>{{reporte.bReportado}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, reporte)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(reporte)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!reportes?.length">
        No Reportes found.
    </ion-item>
</ion-content>
