<ion-header>
    <ion-navbar>
        <ion-title>Glosario HSEQ</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Titulo</ion-label>
            <div item-content>
                <span>{{wiki.titulo}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Imagen</ion-label>
            <div item-content>
                <div *ngIf="wiki.imagen">
                    <a (click)="openFile(wiki.imagenContentType, wiki.imagen)">
                        <img [src]="'data:' + wiki.imagenContentType + ';base64,' + wiki.imagen" style="max-width: 100%;" alt="wiki image"/>
                    </a>
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Descripcion</ion-label>
            <div item-content>
                <span>{{wiki.descripcion}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Tema</ion-label>
            <div item-content *ngIf="wiki.tema">
                <a>{{wiki.tema?.nombre}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Categoria</ion-label>
            <div item-content *ngIf="wiki.categoria">
                <a>{{wiki.categoria?.nombre}}</a>
            </div>
        </ion-item>
    </ion-list>

    <!-- <button ion-button block (click)="open(wiki)">{{ 'EDIT_BUTTON' | translate }}</button> -->
</ion-content>
